.App {
width: 100%;
  height: 100%;
}
.shop-items-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}
.shop-items{
  width: 200px;
  height: 200px;
  background: #fce3f5;
  border-radius: 50px;
  font-size: 22px;
}
.shop-title{
  color: black;
}
.header{
  width: 100%;
  height: 80px;
  background:linear-gradient(to right, #ffe7bd 0, #f7b8fa 100%) no-repeat; ;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search-input{
  width: 330px;
  height: 35px;
  border-radius: 25px;
  outline: none;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  background-color: #fad0fa;
  margin-top: 25px;
  margin-left: 50px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);

}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
